<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/finflex"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moneymate"
        tools:targetApi="31">

        <activity
            android:name=".activitiy.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Moneymate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitiy.ChartActivity"
            android:theme="@style/Theme.Moneymate"
            android:parentActivityName=".activitiy.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitiy.MainActivity" />
        </activity>

        <activity
            android:name=".activitiy.CurrencyActivity"
            android:label="Konversi Mata Uang"
            android:theme="@style/Theme.Moneymate"
            android:parentActivityName=".activitiy.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitiy.MainActivity" />
        </activity>

        <activity
            android:name=".activitiy.TransactionDetailActivity"
            android:theme="@style/Theme.Moneymate"
            android:parentActivityName=".activitiy.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitiy.MainActivity" />
        </activity>

    </application>
</manifest>